:root {
    --darkgreen: rgb(6, 34, 6);
    --green: rgb(5, 63, 5);
    --lightgreen: rgb(10, 104, 10);
    --yellowwhite: rgb(255, 249, 165);
    --clearbrown: rgba(20, 14, 8, 0.69);
    --brown: rgb(65, 42, 26);
    --darkbrown: rgb(24, 14, 10);
    --purp: rgb(65, 3, 136);
    --orange: rgb(194, 126, 0);
    --lit: rgb(174, 32, 0)
}

* {
    margin: 0;
}

body {
    font-family: 'Nanum Pen Script', cursive;
    background: linear-gradient(to bottom, var(--darkgreen) 0%, var(--green) 50%/*, var(--darkgreen) 100%*/);
    background-attachment: fixed;
}

#fade {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent 60%, var(--darkgreen) 90%);
}

nav {
    background-image: url("./images/papers.png");
    box-shadow: 0 0 20px black;
    font-weight: bolder;
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    font-size: 2em;
}

nav p {
    color: var(--brown);
    margin-left: 30px;
    margin-right: 10px;
    user-select: none;
}

#suffix {
    font-size: 70%;
}

nav a {
    margin-right: 30px;
    margin-left: 10px;
    color: var(--lightgreen);
    text-decoration: none;
    transition: text-shadow 1s, color 1s;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
    padding: 0 12px;
    background: var(--clearbrown);
    border: 4px solid var(--darkbrown);
    border-radius: 20px;
    box-shadow: 0 0 5px var(--darkbrown);
    white-space: nowrap;
}

nav a:hover {
    color: var(--lit);
    cursor: pointer;
    text-shadow: 0 0 20px whitesmoke;
}

#sometimes {
    position: fixed;
    margin-top: 25vh;
    width: 100%;
    text-shadow: -2px 3px 5px black;
    font-size: 2.4em;
    text-align: center;
    user-select: none;
    opacity: 0;
    animation: fadein 1.5s 2;
    animation-direction: alternate;
}

#sometimes p {
    max-width: 75vw;
    margin: auto;
}

main {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; TODO: better vertical spacing*/
    color: var(--yellowwhite);
}

section {
    display: flex;
    flex-direction: column;
    color: var(--yellowwhite);
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

main h1 {
    text-shadow: -3px 5px 7px black;
    font-size: 3.8em;
    text-align: center;
}

#keef {
    width: 14em;
    height: 14em;
    margin: auto;
    display: block;
    border-radius: 50%;
    transform: rotate(-12deg);
    animation: shake 2s infinite linear;
    padding: 10px 0 20px;
}

#container {
    margin: 0 auto;
    text-align: center;
}

#container p {
    text-shadow: -2px 3px 5px black;
    font-size: 2.4em;
    text-align: center;
    padding: 10px;
}

#about {
    margin-top: 3vh;
    color: var(--lightgreen);
    opacity: 0;
    animation: fadein 2s;
    animation-delay: 4.5s;
    animation-fill-mode: forwards;
}

#about h1 {
    text-shadow: -2px 3px 5px black;
    font-size: 2.5em;
    font-weight: normal;
}

#about p {
    font-size: 1.5em;
    padding: 5px 15%;
    max-width: 1500px;
    margin: auto;
    text-shadow: -2px 3px 5px black;
    text-align: center;
}

footer {
    position: fixed;
    width: 100%;
    padding-top: 50px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    z-index: 2;
    padding-bottom: 20px;
    background-image: linear-gradient(to bottom, transparent 0%, var(--darkgreen) 42%);
    pointer-events: none;
}

footer a { /*TODO: center disclaimer on smaller screen sizes, or do something different - horizontal auto scrolling maybe?*/
    margin: 0 30px;
    font-size: 2em;
    text-decoration: none;
    text-shadow: -1px 2px 3px rgba(0,0,0,0.8);
    color: var(--purp);
    pointer-events: all;
    user-select: none;
    cursor: pointer;
    width: 150px;
}

footer a:hover {
    color: var(--orange);
}

footer p {
    color: black;
    font-size: 1.3em;
    margin: 0 -20px;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* background: var(--darkgreen); */
}

#leaderboards, #feedback {
    display: none;
    flex-direction: column;
    width: 85%;
    height: 65%;
    max-width: 500px;
    padding: 80px;
    background-image: url('./images/smoke.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#tabs {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    padding: 30px 5px 20px;
}

#tabs a {
    user-select: none;
    cursor: pointer;
}

#tabs a:hover {
    color: var(--orange);
}

#tables {
    overflow-x: hidden;
    overflow-y: auto;
}

#tables::-webkit-scrollbar {
    width: 0;
}

table {
    overflow-x: hidden;
    margin: 0 auto;
    white-space: nowrap;
    width: 80%;
    min-width: 250px;
    max-width: 450px;
    table-layout: fixed;
    font-size: x-large;
}

th { /*TODO: somehow hide table rows scrolled behind table header*/
    position: sticky;
    top: 5px;
    white-space: nowrap;
}

td {
    margin: 0 5px;
}

.rank {
    width: 48px;
    text-align: center;
}

.name {
    text-align: left;
    overflow-x: hidden;
    text-overflow: clip;
}

.bowls {
    text-align: right;
    width: 50px;/*TODO: fit content*/
}

#feedback-form {
    margin: auto;
    width: 65%;
    min-width: 250px;
    font-size: x-large;
}

#feedback-form p {
    font-size: larger;
    text-align: center;
    margin-bottom: 25px;
}

#feedback-form input, #feedback-form textarea {
    width: 100%;
    margin-bottom: 20px;
}

#yeet {

}

.error {
    display: none;
    font-size: xx-large;
    margin: auto;
    text-align: center;
    width: 75%;
}

.close {
    width: 50px;
    font-size: x-large;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin: auto auto 25px;
    padding: 20px 5px 10px;
}

.close:hover {
    color: var(--orange);
}


@keyframes shake {
    50% {transform: rotate(18deg)}
}

@keyframes fadein {
    100% {opacity: 1;}
}

@media screen and (max-width: 480px) {
    body {
        font-size: 80%;
    }

    nav {
        font-size: 22px;
    }

    footer a {
        font-size: 24px;
        width: 100px;
    }

    #tabs {
        font-size: larger;
        padding: 30px 0 20px;
    }

    table {
        font-size: large;
    }

    .rank {
        width: 34px;
    }

    .bowls {
        width: 37px;
    }

    #feedback-form p {
        font-size: x-large;
    }

    .error {
        font-size: x-large;
        width: 95%;
    }

    .close {
        font-size: x-large;
    }
}